{
  "local": {
    "METABASE_HOST": ""
    "METABASE_USERNAME": ""
    "METABASE_PASSWORD": ""
  },

  "production": {
    "METABASE_HOST": ""
    "METABASE_USERNAME": ""
    "METABASE_PASSWORD": ""
  }
}